@model EmployeeVoting.Models.Vote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vote_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vote_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.voter_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.voter_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.candidate_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.candidate_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.vote_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
