@model IEnumerable<EmployeeVoting.Models.Vote>

@{
    ViewData["Title"] = "View Voting History";
    List<Employee> employees = (List<Employee>)ViewData["employees"];
    List<Department> departments = (List<Department>)ViewData["departments"];
    List<Role> roles = (List<Role>)ViewData["roles"];

    int selected = (int)ViewData["selected"];
}


<h4 class="fw-bolder h4 text-center">@ViewData["Title"]</h4>
<center>
    <hr class="underline" style="width:5em;height:3px;opacity:1">
</center>

<center>
    <form asp-action="Search" method="post">
        <div class="input-group mb-3">
            <select class="form-select btn btn-outline-secondary w-25" id="inputGroupSelect" name="id" value="@selected">
                <option>Select an employee to view voting history of</option>
                @foreach (var employee in employees)
                {
                    @if (employee.employee_id == selected)
                    {
                        <option value="@employee.employee_id" selected>@employee.employee_name</option>
                    }
                    else
                    {
                        <option value="@employee.employee_id">@employee.employee_name</option>
                    }
                }
            </select>
            <button class="btn btn-primary w-auto" type="submit"><span class="fa fa-filter"></span> View</button>
        </div>
    </form>
</center>

<div class="row justify-content-center">
    <div class="col-lg-12">
        @if (TempData["StatusMessage"] != null)
        {
            string message = (string)TempData["StatusMessage"];
            var statusMessageClass = message.StartsWith("Error") ? "danger" : "success";
            <div class="alert alert-@statusMessageClass alert-dismissible rounded-0" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                @message
            </div>
        }

        <div class="card rounded-0">
            <div class="col-lg-12">
                <div class="card-body">
                    <table id="myTable" class="table table-hover align-middle mb-0" style="width:100% !important;" role="grid">

                        <thead>
                            <tr>
                                <th>Voter Name</th>
                                @*<th>Voter DOB</th>*@
                                <th>Voter Department</th>
                                <th>Voter Role</th>
                                <th>Voted On</th>
                                <th>Candidate Name</th>
                                @*<th>Candidate DOB</th>*@
                                <th>Candidate Department</th>
                                <th>Candidate Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (selected != -1)
                            {

                                @foreach (var item in Model)
                                {
                                    var voterName = "Deleted";
                                    DateTime? voterDOB = null;
                                    var voterRoleName = "Deleted";
                                    var voterDepartName = "Deleted";

                                    var candidateName = "Deleted";
                                    DateTime? candidateDOB = null;
                                    var candidateRoleName = "Deleted";
                                    var candidateDepartName = "Deleted";



                                    if ((employees?.Any(e => e.employee_id == item.voter_id)).GetValueOrDefault())
                                    {
                                        var result = employees?.First(e => e.employee_id == item.voter_id);

                                        voterName = result.employee_name;
                                        voterDOB = result.employee_dob;

                                        if ((roles?.Any(x => x.role_id == result.role_id)).GetValueOrDefault())
                                        {
                                            var roleResult = roles?.First(r => r.role_id == result.role_id);
                                            voterRoleName = roleResult?.role_name;

                                            if ((departments?.Any(x => x.department_id == roleResult?.department_id)).GetValueOrDefault())
                                            {
                                                voterDepartName = departments?.First(d => d.department_id == roleResult?.department_id).department_name;
                                            }
                                        }
                                    }

                                    if ((employees?.Any(e => e.employee_id == item.candidate_id)).GetValueOrDefault())
                                    {
                                        var result = employees?.First(e => e.employee_id == item.candidate_id);

                                        candidateName = result.employee_name;
                                        candidateDOB = result.employee_dob;

                                        if ((roles?.Any(x => x.role_id == result.role_id)).GetValueOrDefault())
                                        {
                                            var roleResult = roles?.First(r => r.role_id == result.role_id);
                                            candidateRoleName = roleResult?.role_name;

                                            if ((departments?.Any(x => x.department_id == roleResult?.department_id)).GetValueOrDefault())
                                            {
                                                candidateDepartName = departments?.First(d => d.department_id == roleResult?.department_id).department_name;
                                            }
                                        }
                                    }

                                    <tr>
                                        <td>
                                            <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.voter_id" class="fw-bold list-id text-color-secondary">@voterName</a>
                                        </td>
                                        @*<td>
                                            @if (voterName == "Deleted")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                @voterDOB?.ToShortDateString()
                                            }
                                        </td>*@
                                        <td>
                                            @voterDepartName
                                        </td>
                                        <td>
                                            @voterRoleName
                                        </td>
                                        <td>
                                            @item.vote_date.Year/@item.vote_date.Month
                                        </td>
                                        <td>
                                            <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.candidate_id" class="fw-bold list-id text-color-secondary">@candidateName</a>
                                        </td>
                                        @*<td>
                                            @if (candidateName == "Deleted")
                                            {
                                                <span>-</span>
                                            }
                                            else
                                            {
                                                @candidateDOB?.ToShortDateString()
                                            }
                                        </td>*@
                                        <td>
                                            @candidateDepartName
                                        </td>
                                        <td>
                                            @candidateRoleName
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
